# Welcome to your first Jupyter Notebook!
### Before jumping into coding, let's have a last look on your environment with the following codes

Sources and Inspiration: http://jupyter.org/ and [Class of Roberta Sinatra](http://www.robertasinatra.com/teaching/math5012.html) and [Basic Python Exercises by Google](https://developers.google.com/edu/python/exercises/basic)

In [11]:
# you only need to do this once
!pip install --upgrade version_information

Requirement already up-to-date: version_information in /Users/orsi/anaconda3/lib/python3.6/site-packages (1.0.3)
WARNING: You are using pip version 19.3.1; however, version 20.0.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [12]:
#! which python

In [13]:
%load_ext version_information
%version_information numpy, scipy, matplotlib, pandas, networkx, sklearn, bs4, version_information
#you should see the same (or higher) version of the packages as I do. If some of them is not up to date, you can use
#!pip install --upgrade name_of_the_package

The version_information extension is already loaded. To reload it, use:
  %reload_ext version_information

Software versions
Python 3.6.7 64bit [GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]
IPython 6.1.0
OS Darwin 18.2.0 x86_64 i386 64bit
numpy 1.14.2
scipy 1.2.1
matplotlib 2.2.2
pandas 0.23.4
networkx 2.1
sklearn 0.19.1
bs4 4.6.0
version_information 1.0.3
Fri Feb 14 15:52:27 2020 CET

# Introduction to python

* Python code as every type of code usually stored in text files with the file ending "`.py`":

        first_pythonprogram.py

* Every line in a Python program file is assumed to be a Python statement, or part thereof. 

    * The only exception is comment lines, which start with the character '#', it is ignored by the Python interpreter. Very usefull to comment above code.
    * If you want to comment into a a function (a certain line for example) use this: *""" here comes the comment """"*, it can be longer than one line as well. Please note that these comemnts are printed and not ignored by the interpreter.


* To run our Python program from the command line we use:

        $ python first_pythonprogram.py


* On UNIX (Linux, MAC) systems it is common to define the path to the interpreter on the first line of the program (note that this is a comment line as far as the Python interpreter is concerned):

        #!/usr/bin/env python

  If we do, and if we additionally set the file script to be executable, we can run the program like this:

        $ myprogram.py
        
### So let's try!

In [ ]:
ls #bash comments are super usefull if you want to write codes: http://cli.learncodethehardway.org/bash_cheat_sheet.pdf

`ls` shows the content of the current working directory, it is really important to know where we are and from where would like to import files/modules.

In [ ]:
! cat hello_world.py

In [ ]:
! python  hello_world.py

### But this file is a Jupyter Notebook!
It is different, than a usual python code in a text file. The Jupyter notebook is stored as a file in JSON format, which allows us to mix formatted text, Python code and outputs. To run it we use the Jupyter Server (http://localhost:8888/noteooks), but it works as smoothly as the text files.
# To learn more about the Notebooks, please open : Jupyter.ipynb

### Exercise
* Create a new Jupyter notebook
* Write ""hello this is my first python program"
* Write the same program in a script, place it in a folder called "exercises_lecture1" and execute it.

In [6]:
#adding two plus for

2+4

6

In [7]:
print("hello this is my first python program")

'hello this is my first python program'

In [ ]:
!python exercises/first_python_program.py

## Modules

Modules help to reuse others' codes, (similar concept to packages in R). The Python Standard Library is a large collection of modules that provides *cross-platform* implementations of common facilities such as access to the operating system,  string management, statistical packages and much more.
In order to use a module we have import them, using the  `import` statement.

In [14]:
import math #includes the whole module, so we can use mathemtaic operations
x = math.cos(2 * math.pi)

print(x)

1.0

In [ ]:
math.

Other option is to import all symbols (functions and variables) in a module to the current namespace, so we don't need to use the prefix "`math.`" every time we use something from the `math` module:

In [15]:
from math import * #importing all symbols

print (cos(2 * pi))

1.0

This patter sounds very comfortable, but in large programs it is better to keep the prefix of the modules, avoiding mixing up symbols from the different modules with the same namspace. 

A third option is only importing those symbols we are going to use from a  module. Some modules are very big, therfor importing only those symbols that we are going to use we can save space and running time.

In [21]:
from math import cos, pi

print(cos(2 * pi))

1.0

In [22]:
print(dir(math)) #shows what the module contains

['__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [23]:
help(math.log)

Help on built-in function log in module math:

log(...)
    log(x[, base])

    Return the logarithm of x to the given base.
    If the base not specified, returns the natural logarithm (base e) of x.

In [24]:
#we can try on the while module as well
help(math)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.6/library/math

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module is always available.  It provides access to the
    mathematical functions defined by the C standard.

FUNCTIONS
    acos(...)
        acos(x)

        Return the arc cosine (measured in radians) of x.

    acosh(...)
        acosh(x)

        Return the inverse hyperbolic cosine of x.

    asin(...)
        asin(x)

        Return the arc sine (measured in radians) of x.

    asinh(...)
        asinh(x)

        Return the inverse hyperbolic sine of x.

    atan(...)
        atan(x)

        Return the arc tangent (measured in radians) of x.

    atan2(...)
        atan2(y, x)

        Return the arc tangent (measured in radians) of y/x.
        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(...)
        atanh(x)

        Return the inverse hyperbolic tangent of x.

    ceil(...)
        ceil(x)

        Return the ceiling of x as an Integral.
        This is the smallest integer >= x.

    copysign(...)
        copysign(x, y)

        Return a float with the magnitude (absolute value) of x but the sign
        of y. On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(...)
        cos(x)

        Return the cosine of x (measured in radians).

    cosh(...)
        cosh(x)

        Return the hyperbolic cosine of x.

    degrees(...)
        degrees(x)

        Convert angle x from radians to degrees.

    erf(...)
        erf(x)

        Error function at x.

    erfc(...)
        erfc(x)

        Complementary error function at x.

    exp(...)
        exp(x)

        Return e raised to the power of x.

    expm1(...)
        expm1(x)

        Return exp(x)-1.
        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(...)
        fabs(x)

        Return the absolute value of the float x.

    factorial(...)
        factorial(x) -> Integral

        Find x!. Raise a ValueError if x is negative or non-integral.

    floor(...)
        floor(x)

        Return the floor of x as an Integral.
        This is the largest integer <= x.

    fmod(...)
        fmod(x, y)

        Return fmod(x, y), according to platform C.  x % y may differ.

    frexp(...)
        frexp(x)

        Return the mantissa and exponent of x, as pair (m, e).
        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(...)
        fsum(iterable)

        Return an accurate floating point sum of values in the iterable.
        Assumes IEEE-754 floating point arithmetic.

    gamma(...)
        gamma(x)

        Gamma function at x.

    gcd(...)
        gcd(x, y) -> int
        greatest common divisor of x and y

    hypot(...)
        hypot(x, y)

        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(...)
        isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0) -> bool

        Determine whether two floating point numbers are close in value.

           rel_tol
               maximum difference for being considered "close", relative to the
               magnitude of the input values
            abs_tol
               maximum difference for being considered "close", regardless of the
               magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(...)
        isfinite(x) -> bool

        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(...)
        isinf(x) -> bool

        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(...)
        isnan(x) -> bool

        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(...)
        ldexp(x, i)

        Return x * (2**i).

    lgamma(...)
        lgamma(x)

        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x[, base])

        Return the logarithm of x to the given base.
        If the base not specified, returns the natural logarithm (base e) of x.

    log10(...)
        log10(x)

        Return the base 10 logarithm of x.

    log1p(...)
        log1p(x)

        Return the natural logarithm of 1+x (base e).
        The result is computed in a way which is accurate for x near zero.

    log2(...)
        log2(x)

        Return the base 2 logarithm of x.

    modf(...)
        modf(x)

        Return the fractional and integer parts of x.  Both results carry the sign
        of x and are floats.

    pow(...)
        pow(x, y)

        Return x**y (x to the power of y).

    radians(...)
        radians(x)

        Convert angle x from degrees to radians.

    sin(...)
        sin(x)

        Return the sine of x (measured in radians).

    sinh(...)
        sinh(x)

        Return the hyperbolic sine of x.

    sqrt(...)
        sqrt(x)

        Return the square root of x.

    tan(...)
        tan(x)

        Return the tangent of x (measured in radians).

    tanh(...)
        tanh(x)

        Return the hyperbolic tangent of x.

    trunc(...)
        trunc(x:Real) -> Integral

        Truncates x to the nearest Integral toward 0. Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /Users/orsi/anaconda3/lib/python3.6/lib-dynload/math.cpython-36m-darwin.so

'?' does the same as help(), showing the description in the footer

In [ ]:
math.log?

## Variables

Variable names in Python can contain alphanumerical characters `a-z`, `A-Z`, `0-9` and some special characters such as `_`. Normal variable names must start with a letter (like in SPSS)

By convention, variable names start with a lower-case letter, and Class names start with a capital letter. 

In addition, there are a number of Python keywords that cannot be used as variable names. These keywords are:

    and, as, assert, break, class, continue, def, del, elif, else, except, 
    exec, finally, for, from, global, if, import, in, is, lambda, not, or,
    pass, print, raise, return, try, while, with, yield

I recommend to give variables/functions/classes names that describe the function of it. In that way your code will be much more understandable.

To assign a variable in Python is `=`. Python is a dynamically typed language, so we do not need to specify the type of a variable when we create one.

In [26]:
# variable assignments
x = 1
my_variable = 4.2

In [27]:
print(type(x)) #shows the type of the variable

<class 'int'>

In [28]:
print(type(my_variable))

<class 'float'>

In [31]:
y="y"

In [32]:
print(y) 
#If a variable is not defined it gives a name error

y

In [30]:
print("y")

y

Not defined variables raise error

### Variable Types

Types are very important, because different functions operate with different types. Forr example an integer cannot be added to a string.

In [33]:
# integers
x = 1
type(x)

int

In [34]:
# float
x = 1.0
type(x)

float

In [35]:
# boolean
b1 = True
b2 = False

type(b1)

bool

In [36]:
# complex numbers: note the use of `j` to specify the imaginary part
x = 1.0 - 1.0j
type(x)

complex

In [37]:
print(x)

(1-1j)

In [38]:
print(x.real, x.imag)

1.0 -1.0

In [39]:
'a'+7

TypeError: must be str, not int

In [40]:
'A'+'7'

'A7'

In [42]:
'7'/1

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [43]:
import types

# print all types defined in the `types` module
print(dir(types))

['AsyncGeneratorType', 'BuiltinFunctionType', 'BuiltinMethodType', 'CodeType', 'CoroutineType', 'DynamicClassAttribute', 'FrameType', 'FunctionType', 'GeneratorType', 'GetSetDescriptorType', 'LambdaType', 'MappingProxyType', 'MemberDescriptorType', 'MethodType', 'ModuleType', 'SimpleNamespace', 'TracebackType', '_GeneratorWrapper', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_ag', '_calculate_meta', '_collections_abc', '_functools', 'coroutine', 'new_class', 'prepare_class']

In [44]:
x = 1.0

# check if the variable x is a float
type(x) is float

True

In [ ]:
# check if the variable x is an int
type(x) is int

In [45]:
# or a more professional way
isinstance(x, int)

False

### Type conversion

In [46]:
x = 1

print(x, type(x))

1 <class 'int'>

In [47]:
y=float(x)
print(y, type(y), x, type(x))

1.0 <class 'float'> 1 <class 'int'>

In [ ]:
z = complex(x)

print(z, type(z))

In [48]:
float(z)

NameError: name 'z' is not defined

Complex variables cannot be cast to floats or integers. We need to use `z.real` or `z.imag` to extract the part of the complex number we want:

In [ ]:
y = bool(z.real)

print(z.real, " -> ", y, type(y))

y = bool(z.imag)

print(z.imag, " -> ", y, type(y))

In [ ]:
float(z.imag), float(z.real), str(z.imag)

## Operators and comparisons

Opeator and comparisons in Python work as one would expect:

* Arithmetic operators `+`, `-`, `*`, `/`, `//` (integer division), '**' power

In [49]:
1 + 2, 1 - 2, 1 * 2, 1 / 2 #follows mathematical rules

(3, -1, 2, 0.5)

In [50]:
# Integer division of float numbers
print (3 / 2 )
print (3.0 / 2)
print (3.0 / 2.0)

1.5
1.5
1.5

In [ ]:
# Note! The power operators in python isn't ^, but **
2 ** 2

* Booleans can be typed:

In [51]:
True and False

False

In [52]:
not True

False

In [53]:
True or False

True

* Comparison operators `>`, `<`, `>=` (greater or equal), `<=` (less or equal), `==` equality, `is` identical.

In [58]:
1 != 2

True

In [54]:
2 > 1,
1 < 2,
1 == 2, 1 != 2

(True, True, False, True)

In [67]:
# objects identical?
l1 = l2 = [1,2]

l1 is l2
print(l1,l2)

[1, 2] [1, 2]

In [68]:
l1,l2=[1,2]

In [77]:
apples=['apple',
        1,
        [1,2]]

In [78]:
apples

['apple', 1, [1, 2]]

In [85]:
mi_list=list('apple')

In [86]:
mi_list

['a', 'p', 'p', 'l', 'e']

### Conditional statements: if, elif, else

The Python syntax for conditional execution of code uses the keywords `if`, `elif` (else if), `else`:

In [91]:
statement1 = False
statement2 = False

if statement1:
    print("statement1 is True")
    
elif statement2:
    print("statement2 is True")
    
else:
    print("statement1 and statement2 are False")

statement1 and statement2 are False

In [99]:
x=5
y=3
if x>y:
    print("y is bigger")
if y>x:
    print("y is bigger")
else:
    print("y is smaller")

y is bigger
y is smaller

In [100]:
statement1 = statement2 = True

if statement1:
    if statement2:
        print("both statement1 and statement2 are True")

both statement1 and statement2 are True

In [102]:
# Bad indentation!
if statement1:
    if statement2:
        print("both statement1 and statement2 are True")  # this line is not properly indented

both statement1 and statement2 are True

### Functions
A function in Python is defined using the keyword `def`, followed by a function name, a signature within parentheses `()`, and a colon `:`. The following code, with one additional level of indentation, is the function body. If we add docstring we have a help function like modules.

In [103]:
def func1(s):
    """
    Print a string 's' and tell how many characters it has    
    """
    
    print(s + " has " + str(len(s)) + " characters")

In [104]:
help(func1)

Help on function func1 in module __main__:

func1(s)
    Print a string 's' and tell how many characters it has

In [105]:
func1("python")

python has 6 characters

Functions that returns a value use the `return` keyword:

In [106]:
def square(x):
    """
    Return the square of x.
    """
    return x ** 2

In [109]:
square(232433283289239239889238762387)

54025231180615741283419981716639260676980983517563445937769

#### In a definition of a function, we can give default values to the arguments the function takes:

In [110]:
def myfunc(x, p=2, debug=False):
    if debug:
        print("evaluating myfunc for x = " + str(x) + " using exponent p = " + str(p))
    return x**p

In [111]:
myfunc(5, debug=True)

evaluating myfunc for x = 5 using exponent p = 2

25

In [112]:
myfunc(p=3, debug=True, x=7)

evaluating myfunc for x = 7 using exponent p = 3

343

## EXERCISE 1.


### Define two functions:
* max_of_three() that takes three numbers, integer or float, as arguments and returns the largest of them.
* lucky_sum(), that takes three integers and gives back their sum howver if one of the integers is 13 the other two doesn't count and the result is 13.

_Hint_: You can google ;)

In [146]:
def max_of_three(x,y,z):
    my_numbers=[x,y,z]
    maximum1=max(my_numbers)
    return maximum1

In [154]:
theresult=max_of_three(1,2,344.)

In [155]:
theresult

344.0

In [126]:
def max_of_three(x,y,z):
    return max([x,y,z])

In [127]:
max_of_three(1,2,3.)

3.0

In [128]:
sum([1,2,4])

7

In [159]:
def lucky_sum(a,b,c):
    if a==13:
        return a
    elif b==13:
        return b
    elif c==13:
        return c
    else:
        return sum([a,b,c])

In [163]:
def lucky_sum(a,b,c):
    if a==13 or b==13 or c ==13:
        return 13
    else:
        return sum([a,b,c])

In [164]:
lucky_sum(1,2,100)

103

## Compound types: Strings, List , Tuples and Dictionaries

### Strings

Note that strings can be enclosed in single quotes ('...') or double quotes ("...") with the same result. \ can be used to escape quotes.

In [165]:
s="Hello World"
type(s)

str

In [ ]:
"it's"

In [166]:
#length of a string
len(s)

11

In [171]:
s[1:4]

'ell'

In [172]:
# replace a substring in a string with somethign else
s2 = s.replace("World", "Guys")
print(s2)

Hello Guys

In [173]:
#The best thing in Python is that we can index strings!!!
s[0], s[-1], s[6:]

('H', 'd', 'World')

### Be aware indexing starts at 0 in python!!!!

In [175]:
s3="I am learning python"
s4=s3[0]+' <3'+s3[-7:] #indexing from the back starts - negative numbers, ':' until the end 
print(s4)

I <3 python

We can also define the step size using the syntax `[start:end:step]` (the default value for `step` is 1, as we saw above):

In [176]:
s[::1]

'Hello World'

In [177]:
s[:2:1]

'He'

In [178]:
s[::2]

'HloWrd'

This technique is called *slicing*. Read more about the syntax here: http://docs.python.org/release/2.7.3/library/functions.html?highlight=slice#slice
Python has an amazing tool set for text processing, that is why it is so efficient in online media research and data parsing. See for example http://docs.python.org/2/library/string.html for more information.

In [179]:
print("Hello" + 1) # you cannot concatente a string and a number

TypeError: must be str, not int

In [180]:
print("Hello"+str(1)) #but you can convert a number to a string

Hello1

In [181]:
print("I have %d dollars" % 5)  # we can use C-style string formatting

I have 5 dollars

In [183]:
# this formatting creates a string
s2 = "value1 = %.2f. value2 = %d" % (3.1415, 1.5)

print(s2)

value1 = 3.14. value2 = 1

In [184]:
print('"Isn\'t," she said.') #for special characters use double qoue and \

"Isn't," she said.

In [185]:
s = 'First line.\nSecond line.'  #\n creates a new line
print(s)

First line.
Second line.

In [186]:
print('C:\some\name')
#If you don't want the interpreter to translate \n as a new line use an r (raw text) before the text
print(r'C:\some\name')

C:\some
ame
C:\some\name

### Lists

Lists are very similar to strings, except that each element can be of any type.

The syntax for creating lists in Python is `[...]`:

In [187]:
l = [1,2,3,4]

print(type(l))
print(l)

<class 'list'>
[1, 2, 3, 4]

In [188]:
l2=['apple', 2 , 1.0] #you can mix the elements

In [ ]:
type(l2[0]) #elements keep their own type

In [193]:
print(l[0:2])
#type(l[1:4]) #slice of a list is also a list

[1, 2]

In [ ]:
len(l2)

In [194]:
nested_list = [1, [2, [3, [4, [5]]]]]

nested_list

[1, [2, [3, [4, [5]]]]]

In [199]:
nested_list[-1][-1][-1][-1]

[5]

List are very crucial data types, we use them in loops and other control flow structures. There are many functions which creates lsits, such as range:

In [200]:
start = 1
stop = 18
step = 2

range(start, stop, step)

range(1, 18, 2)

In [201]:
list(range(-10, 10))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [202]:
s4

'I <3 python'

In [206]:
l5=list(s4)

In [207]:
l5

['I', ' ', '<', '3', ' ', 'p', 'y', 't', 'h', 'o', 'n']

In [208]:
# sorting lists
l5.sort()

print(l5)

[' ', ' ', '3', '<', 'I', 'h', 'n', 'o', 'p', 't', 'y']

#### Adding, inserting, modifying, and removing elements from lists

In [218]:
# create a new empty list
l = []

# add an elements using `append`
l.append("1")
l.append("2")
l.append("3")

print(l)

['1', '2', '3']

In [219]:
# we can modify the lsit with overwriting it
l[1] = "p"
l[2] = "p"

print(l)

['1', 'p', 'p']

In [220]:
l[1:-2] = ["d", "d"]

print(l)

['1', 'd', 'd', 'p', 'p']

In [223]:
l[0:2]

['1', 'd']

In [212]:
l.insert(0, "i")
l.insert(1, "n")
l.insert(2, "s")
l.insert(3, "e")
l.insert(4, "r")
l.insert(5, "t")

print(l)

['i', 'n', 's', 'e', 'r', 't', '1', 'd', 'd']

In [213]:
#remove elements
l.remove("d")

print(l)

['i', 'n', 's', 'e', 'r', 't', '1', 'd']

In [214]:
#delete elements

del l[7]
del l[6]

print(l)

['i', 'n', 's', 'e', 'r', 't']

#### Some Magic to Handle Lists and Strings

In [ ]:
s='My-name-is-Orsi'
words=s.split('-') #it works like text to columns in excel
print(words)

In [ ]:
' '.join(words) #join the element of a list

### Tuples

Tuples are lists, which cannot be modified (overwrite for example) after created, it called -- *immutable*.

In Python, tuples are created using the syntax `(..., ..., ...)`, or even `..., ...`:

Hint: python convention is to use lists when the elements are smilar (same type), and tuples if they are different

In [224]:
t=(1,2)
type(t)

tuple

In [225]:
#We can unpack a tuple by assigning it to a comma-separated list of variables:

point = 10, 20
x, y = point

print("x =", x)
print("y =", y)

x = 10
y = 20

In [226]:
# If we want overwrite one of the elements, we get an error:
point[0] = 20

TypeError: 'tuple' object does not support item assignment

## Loops

In python we have several ways to iterat through iteems, the most common one is the for loop. We have an iterator (here i) and an iterable (here the list(1,2,3)) and a statement what we want to extract on each element.

In [227]:
for i in [1,2,3]:
    print(i)

1
2
3

In [228]:
i

3

In [235]:
for word in ["this", "class", "is", "very", "long", "..."]:
    print(word, len(word))

this 4
class 5
is 2
very 4
long 4
... 3

In [239]:
my_results=[]
my_words=["this", "class", "is", "very", "long", 'class', "word"]
for word in my_words:
    if word=='class':
        my_results.append(word)
print(len(my_results))

2

In [248]:
my_results=0
my_words=["this", "this","class", "is", "very", "long", 'class', "word", 'class']
for word in my_words:
    #print(word)
    if word=='class':
        #my_results+=1
        my_results=my_results+1
    #print(my_results)
print(my_results)

3

Sometimes it is useful to have access to the indices of the values when iterating over a list. We can use the `enumerate` function for this:

In [236]:
for idx, x in enumerate(range(-3,3)):
    print(idx, x)

0 -3
1 -2
2 -1
3 0
4 1
5 2

In [254]:
result==l1

True

In [251]:
list(range(0,5))

[0, 1, 2, 3, 4]

### List comprehensions: Creating lists using `for` loops:

A convenient and compact way to initialize lists, fast, elegant and super cool(very pythonic thing):

In [261]:
result=[]
for i in range(0,5):
    result.append(i**2)
    print(result)

[0]
[0, 1]
[0, 1, 4]
[0, 1, 4, 9]
[0, 1, 4, 9, 16]

In [262]:
result

[0, 1, 4, 9, 16]

In [256]:
l1 = [x**2 for x in range(0,5)]

#RECIPE: new_list=[operation with the iterator for iterator in a iterable (eg: list)]

print(l1)

[0, 1, 4, 9, 16]

In [259]:
l1 = [x**2 for x in range(0,5) if x%2==0]

#RECIPE: new_list=[operation with the iterator for iterator in a iterable (eg: list)]

print(l1)

[0, 4, 16]

In [252]:
type(l1)

list

### While loops

In [265]:
#Loop runs until the condition is true

i = 0

while i < 300:
    print(i)
    i += 1
    if i==200:
        break
    
print("done")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
done

# List comprehension

In [ ]:
[i+1 for i in [1,2,3]]

### Combining loops and conditions (advance topic)

In [ ]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

In [ ]:
[x+1 for x in [y**3 for y in [-3,1,4]] if x > 0]

## Dictionaries

Dictionaries are also like lists, except that each element is a key-value pair. The syntax for dictionaries is `{key1 : value1, ...}`:

In [266]:
counts = {"bananas" :1,
          "oranges" : 2,
          "apples" : 3,}

print(type(counts))
print(counts)
print(counts.values())
print(counts.keys())

<class 'dict'>
{'bananas': 1, 'oranges': 2, 'apples': 3}
dict_values([1, 2, 3])
dict_keys(['bananas', 'oranges', 'apples'])

In [267]:
print("bananas = " + str(counts["bananas"]))

bananas = 1

In [268]:
counts["bananas"] = "no bananas" # we can assign new values to keys
counts["oranges"] = 100

# add a new entry (key+value)
counts["pineapples"] = "D"

print("bananas = " + str(counts["bananas"]))
print("oranges = " + str(counts["oranges"]))
print("apples = " + str(counts["apples"]))
print("pineapples = " + str(counts["pineapples"]))

bananas = no bananas
oranges = 100
apples = 3
pineapples = D

#### To iterate over key-value pairs of a dictionary:

In [271]:
counts

{'apples': 3, 'bananas': 'no bananas', 'oranges': 100, 'pineapples': 'D'}

In [269]:
for key in counts:
    print(key, counts[key])

bananas no bananas
oranges 100
apples 3
pineapples D

In [272]:
#Easer way
for key, value in counts.items():
    print(key,value)

bananas no bananas
oranges 100
apples 3
pineapples D

Key sact like a sets ---: keys order and place is not fixed, so never rely on it! =

## Sets

Sets are like mathemtical sets you can do all the operations with them:

In [273]:
set1=set(['apple', 'ball', 1,2,3])
set2=set(['apple', 'ball'])

In [274]:
set1-set2

{1, 2, 3}

In [275]:
set1.union(set2)

{'ball', 2, 3, 'apple', 1}

In [276]:
set1.intersection(set2)

{'apple', 'ball'}

In [277]:
#Iterating into sets:
set3=set([-1,-2,0])
for i in range(0,10):
    set3.add(i)
print(set3)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, -2, -1}

## Exerciese 2. 

### Your First Python Game: Rock, Paper, Scissors
Write a function!

Hints:

- Paper > Rock
- Rock > Scissor
- Scissor > Paper
- computer should be randomly selected!
- Googl what  random does, what do you think why we need it?

In [278]:
import random

In [279]:
random.choice([1,2,3])

2

In [281]:
def play_game(user):
    computer=random.choice(['rock',"paper",'scissor'])
    print("Computer is: "+computer)
    print("User is :" +user)
    if computer==user:
        return 'its a tie'
    elif user=='paper':
        if computer=='rock':
            return 'user wins'
        elif computer=='scissor':
            return 'computer wins'
    elif user=='rock':
        if computer=='scissor':
            return 'user wins'
        elif computer=='paper':
            return 'computer wins'
    elif user=='scissor':
        if computer=='paper':
            return 'user wins'
        elif computer=='rock':
            return 'computer wins'

In [287]:
for user in ['rock',"paper",'scissor']:
    print('Lets play!')
    print(play_game(user))

Lets play!
Computer is: paper
User is :rock
computer wins
Lets play!
Computer is: paper
User is :paper
is a tie
Lets play!
Computer is: paper
User is :scissor
user wins

## EXERCISE 3.


### Let's practice strings, lists and dictionaries!!!!

OPEN THE FILE IN PYCHARM AND EDIT THERE!


* Do the exercise in the file string1.py. Execute it in your IPython notebook with the command %run /path/to/string1.py
* Do the exercise in the file string1.py. Execute it in your IPython notebook with the command %run /path/to/string2.py
* Do the exercise in the file list1.py. Execute it in your IPython notebook with the command %run /path/to/list1.py
* Do the exercise in the file list1.py. Execute it in your IPython notebook with the command %run /path/to/list2.py
* Do the exercise in the file wordcount.py. Execute it in your IPython notebook with the command %run /path/to/wordcount.py

In [41]:
pwd

In [37]:
%run /Lecture_1_INTRO/exercises/string1.py

In [38]:
%run /Lecture_1_INTRO/exercises/string2.py

In [39]:
%run Lecture_1_INTRO/exercises/list1.py

In [40]:
%run /Lecture_1_INTRO/exercises/list2.py

### HOMEWORK

1. If you could not finish the exercises, please finish at home!
2. Please, read the Documentation of [BeautifulSoup](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)